:root {
    --line-color: #dddddd;
    --white-color: #ffffff;
    --black-color: #000000;
    --desc-color: #444444;
    --background-color: #f5f5f5;
}

body {
    color: var(--black-color);
    background: var(--background-color)
}

.inner {
    max-width: 1290px;
    margin: 0 auto;
}

.tit {
    max-width: 1290px;
    margin: 0 auto 40px auto;
    width: 100%;
}

.tit h2 {
    margin: 0 0 24px 0;
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
    font-family: "Noto Serif";
}

.desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: var(--desc-color);
}

.btn {
    border: 1px solid var(--line-color);
}

.btn a {
    display: block;
    padding: 15px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.ord {
    border: 1px solid var(--line-color);
}

.ord a {
    display: block;
    padding: 15px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.default {
    padding: 100px 0;
}

.default strong {
    display: block;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
}

@media(max-width:768px) {
    .default {
        padding: 40px 16px;
    }

    .tit {
        margin: 0 0 24px 0;
    }

    .tit h2 {
        line-height: 24px;
        font-size: 24px;
        margin: 0 0 16px 0;
    }
}