.sub_detail {}

.sub_detail .inner {
    display: flex;
    gap: 90px;
}

.sub_detail .inner>* {
    flex: 1;
}

.sub_detail .inner .left {
    overflow: hidden;
}

.sub_detail .inner .left .detail_slide {
    margin: 0 0 20px 0;
}

.sub_detail .detail_slide_list>ul {
    display: flex;
    gap: 20px;
}

.sub_detail .detail_slide_list>ul>li {
    position: relative;
    max-width: 88px;
    min-height: 88px;

    cursor: pointer;
}

.sub_detail .detail_slide_list>ul>li.on::before {
    content: none;
}

.sub_detail .detail_slide_list>ul>li::before {
    content: '';
    position: absolute;
    inset: 0 0 0 0;
    background: rgba(0, 0, 0, 0.5);
}

.sub_detail .inner .right {}

.sub_detail .inner .right .tit {
    margin: 0 0 24px 0;
}

.sub_detail .inner .right .tit strong {
    margin: 0 0 16px 0;
}

.sub_detail .inner .right .tit span {
    display: block;
    line-height: 24px;
    font-weight: 400;
}

.sub_detail .inner .right .txt_box {
    margin: 0 0 48px 0;
}

.sub_detail .inner .right .txt_box .desc {
    margin: 0 0 24px 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.sub_detail .inner .right .txt_box .price {
    line-height: 24px;
}

.sub_detail .inner .right .option_box {
    margin: 0 0 40px 0;
}

.sub_detail .inner .right .option_box .opt {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--line-color);
}

.sub_detail .inner .right .option_box .opt button {
    line-height: 59px;
    width: 100%;
    text-align: left;
    font-family: "Noto Sans KR";
}

.sub_detail .inner .right .option_box .opt button::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 24px;
    height: 24px;
    background: url(../images/chevron-down.svg);
}

.sub_detail .inner .right .option_box .opt03 button::before {
    display: none;
}

.sub_detail .inner .right .option_box .opt span {
    position: relative;
    font-weight: 300;
    line-height: 59px;
    margin: 0 0 0 16px;
}

.sub_detail .inner .right .option_box .opt button>ul {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 9;

    border: 1px solid var(--line-color);
    background: var(--white-color);
}

.sub_detail .inner .right .option_box .opt button>ul.on {
    display: block;
}

.sub_detail .inner .right .option_box .opt button>ul>li {
    padding: 0 48px;
    line-height: 32px;
    border-bottom: 1px solid var(--line-color);
}

.sub_detail .inner .right .option_box .opt button>ul>li:last-child {
    border: none;
}

.sub_detail .inner .right .ord_box {
    display: grid;
    gap: 20px;
}

.sub_detail .inner .right .ord_box .ord:nth-child(1) {
    grid-column: 1 / 3;
}

@media(max-width:768px) {
    .sub_detail .inner {
        flex-direction: column;
        gap: 40px;
    }

    .sub_detail .inner .left .detail_slide .itm .img_box img {
        object-fit: cover;
        width: 100%;
    }

    .sub_detail .inner .right .txt_box {
        margin: 0 0 24px 0;
    }
}