* {
    /* outline: 1px solid tomato; */
}

body {
    background: var(--black-color);
    overflow-x: hidden;
}

.header {
    z-index: 9999;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;

    background: var(--black-color);
}

.header .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.header .logo {
    position: relative;
    z-index: 9;
}


.header .inner .gnb {}

.header .inner .gnb>ul {
    display: flex;
    gap: 40px;
}

.header .inner .gnb>ul>li {
    line-height: 80px;
}

.header .inner .gnb>ul>li>a {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: var(--white-color);
}

.header .inner .sub {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--black-color);
}

.header .inner .sub.on {
    top: 0;
    transition: 0.5s;
}

.header .inner .sub ul {
    margin: 120px auto 0 auto;
    max-width: 1410px;
    width: 100%;
}

.header .inner .sub>ul {
    display: flex;
    justify-content: space-between;
}

.header .inner .sub>ul>li>a {
    display: block;
    margin: 0 0 16px 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

.header .inner .sub>ul>li .sub02 {
    margin: 0;
}

.header .inner .sub>ul>li .sub02>li>a {
    display: block;
    line-height: 36px;
    font-size: 16px;
    font-weight: 300;
    color: var(--desc-color);
    transition: 0.5s;
}

.header .inner .sub>ul>li .sub02>li>a:hover {
    color: var(--white-color);
    transition: 0.5s;
}

.header .inner .util {
    position: relative;
    z-index: 9;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    width: 300px;
    font-size: 20px;
    color: var(--body-color);
}

.header .inner .util .mbtn {
    position: relative;
    z-index: 9;
    font-size: 0;
    width: 30px;
    height: 30px;
}

.header .inner .util .mbtn::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 4px;
    right: 4px;
    height: 2px;
    background: var(--white-color);
}

.header .inner .util .mbtn::after {
    content: '';
    position: absolute;
    bottom: 8px;
    left: 4px;
    right: 4px;
    height: 2px;
    background: var(--white-color);
}

.header .inner .util .mbtn span::before {
    content: '';
    position: absolute;
    top: 13px;
    left: 4px;
    right: 4px;
    height: 2px;
    transition: 0.5s;
    background: var(--white-color);
    visibility: hidden;
    opacity: 0;
}

.header .inner .util .mbtn span::after {
    content: '';
    position: absolute;
    top: 13px;
    left: 4px;
    right: 4px;
    height: 2px;
    transition: 0.5s;
    background: var(--white-color);
    visibility: hidden;
    opacity: 0;
}

.header .inner .util .mbtn.on::before {
    display: none;
}

.header .inner .util .mbtn.on::after {
    display: none;
}

.header .inner .util .mbtn.on span::before {
    transform: rotate(45deg);
    visibility: visible;
    opacity: 1;
}

.header .inner .util .mbtn.on span::after {
    transform: rotate(-45deg);
    visibility: visible;
    opacity: 1;
}

@media (max-width:768px) {
    .header {}

    .header .inner {
        padding: 0 16px;
        height: 80px;
    }

    .header .inner .logo img {
        width: 200px;
    }

    .header .inner .gnb {
        display: none;
    }

    .header .inner .sub {
        padding: 80px 16px;
        top: 0;
        left: unset;
        right: -100%;
        transition: 0.5s;
        overflow-y: scroll;
    }

    .header .inner .sub.on {
        right: 0;
    }

    .header .inner .sub>ul {
        flex-direction: column;
        margin: 0;
    }

    .header .inner .sub>ul>li>a {
        margin: 0;
        line-height: 56px;
        font-size: 16px;
        border-bottom: 1px solid var(--line-color);
    }

    .header .inner .sub02 {
        display: none;
        background: var(--background-color);
    }

    .header .inner .sub>ul>li .sub02 {
        height: 200px;
        overflow-y: scroll;
    }

    .header .inner .sub>ul>li .sub02>li {
        border-bottom: 1px solid var(--line-color);
    }

    .header .inner .sub>ul>li .sub02>li>a {
        font-size: 14px;
        line-height: 56px;
        padding-left: 16px;
    }

    .header .inner .util {
        width: unset;
    }
}








/* 메인 비주얼 */
.main_visual {}

.main_visual .main_visual_tab_slide .main_visual_list {
    position: absolute;
    z-index: 9;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 1410px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main_visual .main_visual_tab_slide .main_visual_list li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    max-width: 235px;
    width: 100%;
    height: 100px;
    color: var(--white-color);
    cursor: pointer;
    color: var(--dotson-color);
}

.main_visual .main_visual_tab_slide .main_visual_list li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--line-color);
}

.main_visual .main_visual_tab_slide .main_visual_list li.on {
    position: relative;
    color: var(--white-color);
}

.main_visual .main_visual_tab_slide .main_visual_list li.on::before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.3);
    animation: 5s main_visual_list_li linear;
}

@keyframes main_visual_list_li {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.main_visual .main_visual_slide .itm {
    position: relative;
    height: calc(100vh - 80px);
}

.main_visual .main_visual_slide .itm::before {
    content: '';
    position: absolute;
    inset: 0 0 0 0;
    background: linear-gradient(transparent, rgba(0, 0, 0, 1));
}

.main_visual .main_visual_slide .itm .slg {
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 1410px;
    width: 100%;
}

.main_visual .main_visual_slide .itm .slg p {
    display: block;
    margin: 0 0 24px 0;
    font-size: 24px;
    text-transform: uppercase;
    text-indent: 2px;
    line-height: 24px;
    color: var(--white-color);
}

.main_visual .main_visual_slide .itm .slg strong {
    display: block;
    text-transform: uppercase;
    font-size: 56px;
    font-weight: 700;
    line-height: 56px;
    color: var(--white-color);
}

.main_visual .main_visual_slide .itm01 {
    background: url(../images/main_visual01.jpg)no-repeat center center/cover;
}

.main_visual .main_visual_slide .itm02 {
    background: url(../images/main_visual02.jpg)no-repeat center center/cover;
}

.main_visual .main_visual_slide .itm03 {
    background: url(../images/main_visual03.jpg)no-repeat center center/cover;
}

.main_visual .main_visual_slide .itm04 {
    background: url(../images/main_visual04.jpg)no-repeat center center/cover;
}

.main_visual .main_visual_slide .itm05 {
    background: url(../images/main_visual05.jpg)no-repeat center center/cover;
}

.main_visual .main_visual_slide .itm06 {
    background: url(../images/main_visual06.jpg)no-repeat center center/cover;
}

.main_visual .main_visual_slide .itm07 {
    background: url(../images/main_visual07.jpg)no-repeat center center/cover;
}

@media(max-width:768px) {
    .main_visual .main_visual_slide .itm {
        position: relative;
        height: 100vw;

    }

    .main_visual .main_visual_slide .itm .slg {
        padding: 0 16px;
        bottom: 72px;
    }

    .main_visual .main_visual_slide .itm01 {
        background: url(../images/main_mvisual01.jpg)no-repeat -27px/cover;
    }

    .main_visual .main_visual_slide .itm02 {
        background: url(../images/main_mvisual02.jpg)no-repeat -27px/cover;
    }

    .main_visual .main_visual_slide .itm03 {
        background: url(../images/main_mvisual03.jpg)no-repeat -27px/cover;
    }

    .main_visual .main_visual_slide .itm04 {
        background: url(../images/main_mvisual04.jpg)no-repeat -27px/cover;
    }

    .main_visual .main_visual_slide .itm05 {
        background: url(../images/main_mvisual05.jpg)no-repeat -27px/cover;
    }

    .main_visual .main_visual_slide .itm06 {
        background: url(../images/main_mvisual06.jpg)no-repeat -27px/cover;
    }

    .main_visual .main_visual_slide .itm .slg p {
        margin: 0 0 16px 0;
        font-weight: 300;
        font-size: 16px;
    }

    .main_visual .main_visual_slide .itm .slg strong {
        display: block;
        font-size: 7vw;
        line-height: 7vw;
    }

    .main_visual .main_visual_tab_slide .main_visual_list {
        z-index: 9;
        position: relative;
        left: unset;
        bottom: unset;
        transform: translate(0, 0);
        justify-content: center;
        margin-top: -48px;
    }

    .main_visual .main_visual_tab_slide .main_visual_list li {
        position: relative;
        font-size: 0;
        height: auto;
        max-width: unset;
        width: auto;
        line-height: 0;
        padding: 24px 20px;
    }

    .main_visual .main_visual_tab_slide .main_visual_list li::before {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        border: 1px solid var(--dots-color);
        width: 14px;
        height: 14px;
    }

    .main_visual .main_visual_tab_slide .main_visual_list li.on::before {
        width: 16px;
        height: 16px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: none;
        border: 2px solid var(--dotson-color);
        background: transparent;
    }


}






/* 메인 프로덕트 */
.main_product {
    position: relative;
}

.main_product .product_slide .itm {
    position: relative;
    padding: 40px;
    background: var(--background-color);
    transition: 0.5s;
}

.main_product .product_slide .itm strong {
    display: block;
    margin: 0 0 16px 0;
    font-size: 24px;
    line-height: 24px;
}

.main_product .product_slide .itm .desc {
    margin: 0 0 16px 0;
    text-align: left;
}

.main_product .product_slide .itm img {
    transition: 0.4s;
    width: 370px;
    height: 240px;
    object-fit: contain;
}

.main_product .product_slide .itm figure {
    margin: 0 0 24px 0;
}

.main_product .main_product_dots {
    margin: 24px 0 0 0;
    display: flex;
    gap: 16px;
    justify-content: center;
}

.main_product .main_product_dots li {
    display: block;
    padding: 4px;
    font-size: 0;
    color: var(--white-color);
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background: var(--dots-color);

    cursor: pointer;
}

.main_product .main_product_dots li.on {
    border: 2px solid var(--dotson-color);
    background: transparent;
}

@media(max-width:768px) {

    .main_product .product_slide .itm img {
        width: unset;
        height: unset;
        object-fit: unset;
    }


}








/* 메인 컨텐트 */
.main_content {
    border-top: 1px solid var(--line-color);
}

.main_content .tit h2 {
    text-transform: uppercase;
}

.main_content .inner .content_slide {
    position: relative;
}

.main_content .inner .content figure {
    position: relative;
    margin: 0 0 16px 0;
}

.main_content .inner .content figure::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;

    background: linear-gradient(transparent, transparent, rgba(0, 0, 0, 1));
}

.main_content .inner .content_slide_dots {
    position: absolute;
    z-index: 9;
    bottom: 40px;
    left: 50%;
    max-width: 1410px;
    width: 100%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: space-between;
}

.main_content .inner .content_slide_dots li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 352px;
    width: 100%;
    height: 64px;
    text-transform: uppercase;
    font-weight: 300;
    color: var(--dotson-color);
    cursor: pointer;

}

.main_content .inner .content_slide_dots li.on {
    position: relative;
    font-weight: 400;
    color: var(--white-color);
}

.main_content .inner .content_slide_dots li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--line-color);
}

.main_content .inner .content_slide_dots li.on::before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.3);
}

@media(max-width:768px) {
    .main_content .inner .content_slide_dots {
        justify-content: center;
        transform: translate(0, 0);
        margin: 0 auto;
        bottom: 80px;
        left: unset;
    }

    .main_content .inner .content_slide_dots li {
        font-size: 14px;
    }

    .main_content .inner .content_slide_dots li::before {
        display: none;
    }

    .main_content .inner .content .desc {
        max-width: 480px;
        margin: 0 auto;
    }

    .main_content .inner .content_slide_dots li {
        display: none;
        text-align: center;
        height: auto;
    }

    .main_content .inner .content_slide_dots li.on {
        display: block;
    }
}










.main_banner {
    position: relative;
    background: url(../images/main_banner.jpg)no-repeat fixed center center;
}

.main_banner::before {
    content: '';
    position: absolute;
    inset: 0 0 0 0;
    filter: grayscale(1);
    backdrop-filter: blur(6px);
}

.main_banner .tit {
    position: relative;
    max-width: 1410px;
    margin: 0 auto;
    text-align: center;
}


.main_banner .tit p {
    margin: 0 0 32px 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: var(--desc-color);
}

.main_banner .tit .btn {
    display: block;
    border: none;
    background: none;
}

.main_banner .tit .btn a {
    display: inline-block;
    padding: 19px 120px;
}

.main_banner .tit .btn a:hover {
    color: var(--black-color);
    background: var(--white-color);
    transition: 0.5s;
}

@media(max-width:768px) {
    .main_banner {
        padding: 32px 16px;
        background: url(../images/main_banner.jpg)no-repeat center center/cover;
    }

    .main_banner::before {
        backdrop-filter: blur(3px);
    }

    .main_banner .tit .btn a {
        padding: 11px 91px;
    }
}




.main_space {}

.main_space .inner_space {
    display: flex;
    gap: 60px;
    margin: 0 0 0 auto;
    max-width: calc((100% - 1410px) / 2 + 1410px);
}

.main_space .inner_space .left {
    position: relative;
    width: 400px;
}

.main_space .inner_space .left .tit h2 {
    text-align: left;
}


.main_space .inner_space .right {
    overflow: hidden;
}

.main_space .inner_space .right .space_slide {
    min-width: 600px;
    max-width: 1600px;
    overflow: visible;
}

.main_space .inner_space .left .space_desc {
    width: 400px;
}

.main_space .inner_space .left .space_desc li {
    position: absolute;
    top: 80px;
    left: 0;
    width: auto;
    display: none;
    color: var(--white-color);

    white-space: nowrap;
}

.main_space .inner_space .left .space_desc li.on {
    display: block;
}

.main_space .inner_space .left .space_desc li>strong {
    display: block;
    margin: 0 0 16px 0;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
}

.main_space .inner_space .left .space_desc li>p {
    text-align: left;
}

.space_slide_dots {
    display: flex;
    gap: 16px;
    position: absolute;
    bottom: 0;

}

.space_slide_dots li {
    color: var(--desc-color);
    font-weight: 300;
    cursor: pointer;
}

.space_slide_dots li.on {
    color: var(--white-color);
    font-weight: 400;
}

@media(max-width:768px) {

    .main_space .inner_space .left {
        width: unset;
    }

    .main_space .inner_space .left .space_desc {
        width: unset;
        margin: 0 0 24px 0;
    }

    .main_space .inner_space {
        flex-direction: column;
        gap: 0;
    }

    .main_space .inner_space .left .space_desc li {
        position: static;
    }

    .space_slide_dots {
        position: static;
        margin: 0 0 24px 0;
    }

    .main_space .inner_space .right .itm figure img {
        width: 100%;
        object-fit: cover;
    }
}






.footer {
    background: var(--footer-color);
}

.footer .inner {}

.footer .inner .ft {
    padding: 40px 0;
}

.footer .inner .ft>ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

.footer .inner .ft>ul .b>a {
    font-size: 16px;
    color: var(--white-color);
}

.footer .inner .ft>ul>li {
    position: relative;
}

.footer .inner .ft>ul>li~li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translate(-50%, -32%);
    width: 1px;
    height: 10px;
    background: var(--dots-color);
}

.footer .inner .ft>ul>li>a {
    font-size: 14px;
    font-weight: 300;
    color: var(--footerli-color);
}

.footer .inner .fb {
    border-top: 1px solid var(--line-color);
    padding: 40px 0;
}

.footer .inner .fb address {
    margin: 40px 0 0 0;
    font-size: 14px;
    font-weight: 300;
    color: var(--footerli-color);
}

.footer .inner .fb>ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

.footer .inner .fb>ul>li {
    position: relative;
}

.footer .inner .fb>ul>li~li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translate(-50%, -32%);
    width: 1px;
    height: 10px;
    background: var(--dots-color);
}

.footer .inner .fb>ul>li>a {
    font-size: 14px;
    font-weight: 300;
    color: var(--footerli-color);
}

@media(max-width:768px) {
    .footer {
        padding: 0 16px;
    }

    .footer .inner .ft>ul {
        flex-direction: column;
        align-items: baseline;
        gap: 20px;
    }

    .footer .inner .ft>ul .b>a {
        font-size: 14px;
    }

    .footer .inner .ft>ul>li>a {
        font-size: 12px;
    }

    .footer .inner .fb>ul {
        flex-direction: column;
        align-items: baseline;
        gap: 20px;
    }

    .footer .inner .fb address {
        font-size: 12px;
    }

    .footer .inner .fb>ul>li>a {
        font-size: 12px;
    }


}






.to_top {
    position: fixed;
    z-index: 999;
    bottom: 80px;
    right: 100px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.to_top.on {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}

.to_top button {
    width: 42px;
    height: 42px;
    background: var(--line-color);
}

.to_top button i {
    color: var(--white-color);
    transform: rotate(-90deg);
}

@media(max-width:768px) {
    .to_top {
        right: 16px;
    }
}