* {
    /* outline: 1px solid tomato; */
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 9999;
    background: var(--white-color);
    border-bottom: 1px solid var(--line-color);
}

.header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.header .inner .logo {
    position: relative;
    z-index: 9999;
}

.header .inner .logo>a {
    display: block;
}

.header .inner .gnb {
    max-width: 1290px;
    margin: 0 auto;
}

.header .inner .gnb>ul {
    display: flex;
}

.header .inner .gnb>ul>li>a {
    display: block;
    padding: 0 30px;
    font-size: 16px;
    line-height: 80px;
    font-weight: 500;
    white-space: nowrap;
}

.header .inner .gnb .sub_box {
    z-index: 9;
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    background: var(--white-color);
    border-bottom: 1px solid var(--line-color);

    display: none;
}

.header .inner .gnb>ul>li:hover .sub_box {
    display: block;
}

.header .inner .gnb .sub_box>ul {
    display: flex;
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;

    gap: 80px;
    padding: 24px 0;
}

.header .inner .gnb .sub_box>ul>* {
    flex: 1;
}

.header .inner .gnb .sub_box .img_box {
    width: 300px;
    object-fit: cover;
}

.header .inner .gnb .sub_box>ul>li {
    border-right: 1px solid var(--line-color);
}

.header .inner .gnb .sub_box>ul>li>a {
    display: block;
    margin: 0 0 16px 0;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
}

.header .inner .gnb .smenu {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 20px;
}



.header .inner .gnb .smenu>li>a {
    display: block;
    line-height: 32px;
    font-weight: 400;
    font-size: 14px;
}

.header .inner .util {
    display: flex;
    gap: 20px;
}

.header .inner .util>a {
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
}

.header .inner .mbtn_box {
    display: none;
}

@media(max-width:768px) {
    .header {
        padding: 0 16px;
    }

    .header .inner {
        position: relative;
        z-index: 999;
    }

    .header .inner .gnb {
        z-index: 999;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;

        padding: 80px 16px;

        background: #BFBAB0;
        transition: 0.5s;
    }

    .header .inner .gnb.on {
        left: 0;

        transition: 0.5s;
    }

    .header .inner .gnb>ul {
        flex-direction: column;
        background: #D9D4CC;
    }

    .header .inner .gnb>ul>li {
        border-top: 1px solid #bbb;
    }

    .header .inner .gnb>ul>li:last-child {
        border-bottom: none;
    }

    .header .inner .gnb>ul>li>a {
        padding: 0;
        line-height: 56px;
        text-align: center;
        color: var(--desc-color);
    }

    .header .inner .gnb .sub_box {
        z-index: 9;
        position: static;
        top: 80px;
        left: 0;
        width: 100%;
        background: #F2F2F2;
        border-bottom: none;
    }

    .header .inner .gnb>ul>li:hover .sub_box {
        display: none;
    }


    .header .inner .gnb .sub_box>ul {
        flex-direction: column;
        gap: 0;
        padding: 0;
    }

    .header .inner .gnb .sub_box>ul>li {
        border-right: none;
        border-top: 1px solid #ddd;
    }

    .header .inner .gnb .sub_box>ul>li:first-child {
        border-top: none;
    }

    .header .inner .gnb .sub_box>ul>li>a {
        margin: 0;
        font-weight: 400;
        line-height: 48px;
        text-align: center;

    }

    .header .inner .gnb .smenu {
        position: relative;
        display: none;
        height: 200px;
        line-height: 32px;
        overflow-y: auto;
        background: #8C7E6C;
    }

    .header .inner .gnb .smenu>li~li {
        border-top: 1px solid #7e7161;
    }

    .header .inner .gnb .smenu>li>a {
        line-height: 48px;
        text-align: center;
        color: #F2F2F2;
    }

    .header .inner .util {
        display: none;
    }

    .header .inner .mbtn_box {
        position: relative;
        z-index: 999;
        display: block;
        font-size: 24px;
    }

    .header .inner .mbtn_box .mbtn {
        color: transparent;
        background: url(../images/menu.svg)no-repeat right;
    }

    .header .inner .mbtn_box .mbtn.on {
        background: url(../images/x.svg)no-repeat right;
    }
}





.main_visual {
    position: relative;
}

.main_visual .itm {
    height: calc(100vh - 80px);
}

.main_visual .itm01 {
    background: url(../images/main_visual01.jpg)no-repeat center center/cover;
}

.main_visual .itm02 {
    background: url(../images/main_visual02.jpg)no-repeat center center/cover;
}

.main_visual .itm03 {
    background: url(../images/main_visual03.jpg)no-repeat center center/cover;
}

.main_visual .itm04 {
    background: url(../images/main_visual04.jpg)no-repeat center center/cover;
}

.main_visual .main_visual_list {
    position: absolute;
    z-index: 9;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
}

.main_visual .main_visual_list>ul {
    display: flex;
    align-items: center;
    width: 100%;
    height: 200px;
}

.main_visual .main_visual_list>ul>* {
    flex: 1;
}

.main_visual .main_visual_list>ul>li {
    position: relative;
    text-align: center;
    cursor: pointer;
}

.main_visual .main_visual_list>ul>li~li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 1px;
    height: 200px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    transform: translate(0, -50%);
}

.main_visual .main_visual_list>ul>li.on>* {
    color: var(--white-color);
}

.main_visual .main_visual_list>ul>li:hover>* {
    color: var(--white-color);
}

.main_visual .main_visual_list>ul>li>strong {
    display: block;
    margin: 0 0 16px 0;
    font-family: "Noto Serif";
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.5)
}

.main_visual .main_visual_list>ul>li>p {
    display: block;
    margin: 0 0 16px 0;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5)
}

.main_visual .main_visual_list>ul>li>span {
    display: block;
    font-size: 14px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5)
}

.main_visual .main_visual_list .visual_mlist {
    display: none;
}

@media(max-width:768px) {

    .main_visual .itm {
        height: 60vh;
    }

    .main_visual .main_visual_list>ul {
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }

    .main_visual .main_visual_list>ul>* {
        flex: none;
    }

    .main_visual .main_visual_list>ul>li {
        display: none;
    }

    .main_visual .main_visual_list>ul>li.on {
        display: block;
    }

    .main_visual .main_visual_list {
        padding: 0 16px;
    }

    .main_visual .main_visual_list>ul {}

    .main_visual .main_visual_list>ul>li~li::before {
        display: none;
    }

    .main_visual .main_visual_list .visual_mlist {
        display: flex;
        justify-content: center;
        gap: 16px;
    }

    .main_visual .main_visual_list .visual_mlist>li>button {
        color: transparent;
        width: 16px;
        height: 16px;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 50%;
    }

    .main_visual .main_visual_list .visual_mlist>li.on>button {
        background: var(--white-color);
    }
}





.main_founder {}

.main_founder .inner {
    display: flex;
}

.main_founder .inner>* {
    flex: 1;
}

.main_founder .inner .tit {
    margin: 0;
}

.main_founder .inner .left {
    margin: auto 0;
}

@media(max-width:768px) {
    .main_founder .inner {
        gap: 20px;
    }
}

@media(max-width:600px) {
    .main_founder .inner {
        flex-direction: column;
        gap: 0;
    }

    .main_founder .inner .tit {
        margin: 0 0 24px 0;
        text-align: center;
    }

    .main_founder .inner .img_box {
        /* display: none; */
    }
}





.main_collection {
    position: relative;
}

.main_collection::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(0, -50%);
    width: 1px;
    height: 60px;
    background: #ddd;
}

.main_collection .tit {
    text-align: center;
}

.main_collection .inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.main_collection .inner .img_box {
    margin: 0 0 16px 0;
}

@media(max-width:768px) {
    .main_collection::before {
        height: 32px;
    }

    .main_collection .inner {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}




.main_lab {
    position: relative;
}

.main_lab::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(0, -50%);
    width: 1px;
    height: 60px;
    background: #ddd;
}

.main_lab .tit {
    text-align: center;
}

.main_lab .inner {
    display: flex;
    gap: 30px;
}

.main_lab .inner>* {
    flex: 1;
}

.main_lab .inner .left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.main_lab .inner .left .lab {
    position: relative;
}

.main_lab .inner .left .lab .txt_box {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;

    background: rgba(0, 0, 0, 0.5);
}

.main_lab .inner .left .lab .txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.main_lab .inner .left .lab .txt strong {
    text-align: center;
    font-size: 16px;
    margin: 0 0 16px 0;
    color: var(--white-color);
}

.main_lab .inner .left .lab .txt .desc {
    font-weight: 300;
    text-align: center;
    color: var(--white-color);
}


@media(max-width:768px) {
    .main_lab::before {
        height: 32px;
    }

    .main_lab .inner {
        flex-direction: column;
    }

    .main_lab .inner .right {
        display: none;
    }

    .main_lab .inner .left {
        gap: 20px;
    }

    .main_lab .inner .left .lab .txt_box {
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
    }

    .main_lab .inner .left .lab .txt {}
}

@media(max-width:600px) {
    .main_lab .inner .left .lab .txt .desc {
        font-size: 12px;
    }
}



.footer {
    background: #444;
}

.footer .ft {
    padding: 40px 0;
    border-bottom: 1px solid #555;
}

.footer .ft>ul {
    display: flex;
    gap: 20px;
}

.footer .inner .ft>ul>li {
    position: relative;
}

.footer .inner .ft>ul>li~li::before {
    content: '';
    position: absolute;
    height: 8px;
    width: 1px;
    top: 50%;
    left: -10px;
    transform: translate(0, -30%);
    background: #666;
}

.footer .ft>ul>li>a {
    font-size: 14px;
    color: #bbb;
}

.footer .ft>ul .b a {
    color: var(--white-color);
    font-weight: 700;
}

.footer .fb {
    padding: 40px 0;
}

.footer .fb>ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer .fb>ul>li {
    font-size: 14px;
    line-height: 16px;
    color: #bbb;
}

@media(max-width:768px) {
    .footer {
        padding: 0 16px;
    }
}

@media(max-width:500px) {


    .footer .ft>ul {
        flex-direction: column;
    }

    .footer .inner .ft>ul>li~li::before {
        display: none;
    }

    .footer .fb>ul>li {
        line-height: 24px;
    }
}